.recipe-list {
    margin: 0px auto;
    cursor: pointer;
    min-width: 100px;
    background-color: silver;
    float: left;
    overflow: scroll;
    max-height: 350px;
}
.table {
  margin-bottom: 0px;
}
.picture {  }
.name { text-align: left; font-size: 75%;  }
.auth { text-align: left; font-size: 60%;  }
.desc { text-align: left; font-size: 60%;  }

.recipe-row {
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 70%;
}

#item-box {
  margin: 0px auto;
  background-color: lightcyan;
  overflow: scroll;
  max-height: 350px;
}

.footer {
  clear: both;
  width: 100%;
}

#master-detail {
  max-height: 350px;
}
/*
div::after {
  content: "";
  display: inline-block;
}*/
