.recipe-list {
    margin: 0px auto;
    cursor: pointer;
    min-width: 100px;
    background-color: silver;
    float: left;
}
.table {
  margin-bottom: 0px;
}
.picture {  }
.name { text-align: left; font-size: 75%; width: 100%; }
.auth { text-align: left; font-size: 60%; width: 100%; }
.desc { text-align: left; font-size: 60%; width: 100%; }

.recipe-row {
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 70%;
}

# item-box {
  margin: 0px auto;
}

.footer {
  clear: both;
  width: 100%;
}
/*
div::after {
  content: "";
  display: inline-block;
}*/
